.sectRequisitos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.sizeCardPlanEstudios{
    width: 20%; margin: 30px;
}

.cardPlanEstudios{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 0px;
}

.colorCardPlanEstudiosLados {
    background-color: rgb(205,205,205);
}

.colorCardPlanEstudiosMedio {
    background-color: rgb(44,44,44);
}

.botonCardLateral{
    background-color: rgb(44,44,44);
}

.botonCardLateral:hover{
    background-color: gray;
}

.botonCardLateral:active{
    background-color: rgb(44,44,44);
}
/**/
.botonCardMedio{
    flex-shrink: 3;
    background-color: rgb(205,205,205);
}

.botonCardMedio:hover{
    background-color: rgb(88, 87, 87);
}

.botonCardMedio:active{
    background-color: rgb(205,205,205);
}

.brand-logo, .container-subtitle {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 50px;
    height: auto;
}